@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

p {
    font-family: "Roboto Mono", monospace;
}


.container {
    margin: 0 auto;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: max-content;
}


.button-container {
    display: flex;
    justify-content:space-between;

}

button, input {
    font-family: "Roboto Mono", monospace;
}

.button-container > button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: black;
    border-width: 0;
    padding: 0;
    margin: 0;
    transition: 0.05s;
}

#rock.pressed {
    transform: scale(0.95);
}

#paper.pressed {
    transform: scale(0.95);
}

#scissors.pressed {
    transform: scale(0.95);
}
.com-choice {
    text-align: right;
    border-bottom: 0.1px dotted black;
}

.player-choice {
    /* border-bottom: 0.1px dotted black; */
    margin-bottom: 20px; 
}

.player-para, .com-para {
    padding: 0;
}

.score {
    border-bottom: 0.1px dotted black;
}


.game-controls {    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.game-controls > button, input {
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

.game-controls > button {
    background-color: navajowhite;
    border: 0.1px solid navajowhite;
}


.game-controls > #ghost {
    opacity: 0;
}
input {
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 0.1px dotted black;
    background-color: white;
}

.final {
    border-bottom: 0.1px dotted black;
    /* border-top: 0.1px dotted black;     */
}

.dispRound {
    /* margin-bottom: 20px; */
    border-bottom: 0.1px dotted black;
    text-align: center;
    /* font-family: "Roboto Mono", monospace; */
    background-color: black;
    color: white;

}   
